# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# VS Code
.vscode/

# Data & artifacts (we re-create them locally)
data/
models/
figures/
experiments/
runs/
*.pt
*.npy
*.joblib
*.ckpt
*.png

# Optional: OS noise
.DS_Store
Thumbs.db
